<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="row between-xs middle-xs header-row">
      <nav>
        <span><a mat-button [routerLink]="['/home']" routerLinkActive="active" >Home</a></span>
        <span><a mat-button [routerLink]="['/products']" routerLinkActive="active" >Productos</a></span>
        <span><a mat-button [routerLink]="['/contacts']" routerLinkActive="active" >Contacto</a></span>
      </nav>
      <a mat-raised-button matBadge="8" matBadgePosition="before" matBadgeColor="warn"><mat-icon>shopping_cart</mat-icon>Carrito</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
