<input type="text" [(ngModel)]="title">
{{ title }}
<br>
<input type="text" [(ngModel)]="power">
{{power | exponential }}

<br>
<div [ngSwitch]="title">
  <p *ngSwitchCase="'nicolas'">
    estoy en nicolas
  </p>
  <p *ngSwitchCase="'julian'">
    estoy en julian

  </p>
  <p *ngSwitchCase="'camilo'">
    estoy en camilo
  </p>

</div>


<button (click)="addItem()">Add item</button>

<ul>
  <li *ngIf="items.length === 0">la lista esta vacia</li>
  <li *ngFor="let name of items; index as i">
    {{ name }} {{ i }}
    <button (click)="deleteItem(i)">delete</button>
  </li>
</ul>



